#managerProfile{
    background:rgb(194, 154, 25);
}
#PageContent{
    display:flex;
    flex-direction:column;
    padding:2%;
    font-size:20px;
}
.navButton:hover{
    background:white;
    color:rgb(255, 205, 40);
}
#Instructions{
    position:absolute;
    bottom:50px;
    border-bottom:2px solid red;
    padding:1%;
    margin-left:1%;
    font-size:18px;
}