<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Registration</title>
</head>
<body>
    <div>
        <form action="registerAdmin" method="POST">
            {%csrf_token%}
            <input type="text" name="adminName" placeholder="Enter Admin Name">
            <input type="text" name="adminEmail" placeholder="Enter Admin Email">
            <input type="text" name="adminAddress" placeholder="Enter Admin Address">
            <input type="number" name="adminContact" placeholder="Enter Admin Contact">
            <input type="text" name="restaurantName" placeholder="Enter Restaurant Name">
            <input type="text" name="restaurantAddress" placeholder="Enter Restaurant Address">
            <input type="text" name="adminAccessID" placeholder="Enter Admin Access ID">
            <input type="password" name="password1" placeholder="Enter Password">
            <input type="password" name="password2" placeholder="Confirm Password">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>